<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.resistance.mapper.ChatMapper">

	<update id="registPosition">
		update player set
		position=#{position} where id=#{id};
	</update>

	<insert id="registChatLog">
		insert into chatlog (member_id,
		room_id, talker, text) values(#{memberId}, #{roomId}, #{talker},
		#{text}) ;
	</insert>

	<select id="showChatLogs"
		resultType="com.example.resistance.entity.ChatLog">
		select * from chatlog where room_id = #{roomId};
	</select>


</mapper>