@charset "UTF-8";

/*青ボタン*/
.button_decolation{
font-size: 1.1em;
font-weight: bold;
padding: 3px 15px;
background-color: #ff0080;
color: #fff;
border-style: none;
box-shadow: 2px 2px 3px 1px #666;
-moz-box-shadow: 2px 2px 3px 1px #666;
-webkit-box-shadow: 2px 2px 3px 1px #666;
}
.button_decolation:hover{
	background-color: #24d;
	color: #fff;
}

.btn-flat-double-border {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: double 4px #67c5ff;
  border-radius: 3px;
  transition: .4s;
  font-weight: bold;
}
.btn-flat-double-border:hover {
  background: #fffbef;
}

/*オレンジボタン*/
.btn-gradient-3d-orange {
  display: inline-block;
  padding: 0.2em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #c58668;
  font-weight: bold;
}

.btn-gradient-3d-orange:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

.btn--yellow {
  color: #000;
  background-color: #ffff00;
  border-bottom: 5px solid #ccc100;
}

.btn--yellow:hover {
  margin-top: 3px;
  color: #000;
  background: #fff20a;
  border-bottom: 2px solid #ccc100;
}
